/*General*/

/*WEBFONTS*/
@font-face {
  font-family: 'helloveticaregular';
  src: url('/webfontkit/hellovetica-webfont.woff2') format('woff2'),
       url('/webfontkit/hellovetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'apple_regular';
  src: url('/webfontkit/apple_-webfont.woff2') format('woff2'),
       url('/webfontkit/apple_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

logoA {
  position:absolute;
  left: 185px;
  top: 45px;
  z-index: 1;
}

logoB {
  position:absolute;
  left: 30px;
  top: 25px;
  z-index: 1;
}

img {

  padding:20px;
}


body {
  background-color: #000000;
    font-family:'helloveticaregular';
    font-size:11px;
    line-height: 2em;
  } 
h1 {
    color:#63C29A;
    font-size:12px;
}
h2 {
    color:#63C29A;
    font-size: 20px;
    
}
p {
    display:inline;
    line-height:normal;
}

/* Divider/Border */
hr.solid {
    border: 0.1px solid #63C29A;
    margin:15px;
  }

.section1 {
    background-color:#ffffff;
    color:#FD3301;
    padding:20px;
    margin-bottom: 10px;
  } 

banner {
  position:relative;
  overflow: hidden;
}

/*NAV*/
  .nav {
    overflow: hidden;
  }
  .nav a {
    float: left;
    text-align: center;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }

/*Dropdown Style*/
#container {
	margin: 0 auto;
}
p {
	text-align: center;
  
}
nav {
	margin: 10px 0;
	background-color: #FD3301;

}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
nav ul li {
	display:inline-block;
	background-color: #FD3301;
	}
nav a {
	display:block;
	padding:0 15px;	
	color:#FFF;
  font-size: 12px;
	line-height: 50px;
	text-decoration:none;
}
nav a:hover { 
	background-color: #63C29A; 
}
/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 50px; /* the height of the main nav */
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:158px;
	float:none;
	display:list-item;
	position:relative;
}
/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position:relative;
	top:-60px; 
	left:170px;
}
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

/*Map Style*/  
#map {
    position:relative;
    top:0px;
    height:550px;
    width:100%;
    font-size:9px;
    font-family: 'verdana';
}